*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#090909;
  color:white;
  font-family:Arial,sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

#app{
  width:90%;
  max-width:500px;
  background:#111;
  border:2px solid gold;
  border-radius:20px;
  padding:30px;
  text-align:center;
  box-shadow:0 0 30px rgba(255,215,0,.4);
}

h1{
  color:gold;
  font-size:36px;
}

p{
  margin-top:15px;
  color:#ddd;
  font-size:18px;
}
