*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

header{
text-align:center;
padding:50px 20px;
background:linear-gradient(180deg,#111,#000);
border-bottom:2px solid gold;
}

header h1{
font-size:40px;
color:#FFD700;
}

header p{
margin-top:10px;
font-size:18px;
color:#ddd;
}

.register{
width:90%;
max-width:450px;
margin:40px auto;
padding:25px;
background:#151515;
border:2px solid #FFD700;
border-radius:20px;
box-shadow:0 0 20px rgba(255,215,0,.25);
}

.register h2{
text-align:center;
margin-bottom:20px;
color:#FFD700;
}

input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:10px;
background:#222;
color:white;
}

input::placeholder{
color:#bbb;
}

button{
width:100%;
padding:15px;
background:#FFD700;
color:black;
font-weight:bold;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#ffcc00;
transform:scale(1.03);
}
